html,
body {
  height: 100%;
  min-height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#mapid {
  height: 180px;
}

.tooltip-arrow {
  width: 0px;
  height: 0px;
  border-style: solid;
  margin: auto;
  border-width: 10px 10px 0 10px;
  border-color: #404b6b transparent transparent transparent;
  opacity: 0.9;
  line-height: 0px;
}

.leaflet-popup-content-wrapper {
  border-radius: 4px;
  padding: 0px;
}

.leaflet-popup-content {
  border-radius: 4px;
  margin: 0px;
}

.leaflet-popup-tip {
  height: 12px;
  width: 12px;
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiAutocomplete-inputRoot.MuiInputBase-fullWidth.MuiInputBase-formControl.MuiInputBase-adornedEnd.MuiOutlinedInput-adornedEnd {
  padding: 0;
}

.MuiAutocomplete-option {
  color: #168dbd;
}

.marker-icon {
  background-color: transparent;
}

.MuiButtonBase-root.MuiIconButton-root.MuiPickersDay-day,
.MuiPickersCalendarHeader-switchHeader {
  color: black;
}

.MuiTypography-root.MuiPickersClockNumber-clockNumber.MuiTypography-body1 {
  color: black;
}

.slick-arrow:hover {
  background-color: rgba(22, 141, 189, 0.5);
  border-radius: 40px;
}

.slick-arrow.slick-prev {
  background-color: rgba(22, 141, 189, 0.5);
  border-radius: 40px;
  height: 40px;
  width: 40px;
  left: -45px;
}

.slick-arrow.slick-next {
  background-color: rgba(22, 141, 189, 0.5);
  border-radius: 40px;
  height: 40px;
  width: 40px;
  right: -45px;
}
