# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details

version: 2.1
references:
  working_directory: &working_directory ~/repo
executors:
  default:
    docker:
      - image: node:16
        environment:
          DATABASE_URL: postgres://postgres:CHANGE-ME@postgres:5432/postgres
          TEST_DATABASE_URL: postgres://postgres:CHANGE-ME@postgres:5432/postgres

      - image: kartoza/postgis:12.1
        environment:
          POSTGRES_USER: postgres
          POSTGRES_DB: postgres
          POSTGRES_PASSWORD: "CHANGE-ME"
        name: postgres

commands:
  install_psql:
    description: Install psql
    steps:
      - run:
          name: Install psql
          command: apt-get update && apt-get install -y postgresql-client

  checkout_and_restore_dependencies:
    description: Fetch code from github and restore project dependencies from cache
    steps:
      - checkout
      # Download and cache dependencies
      - restore_cache:
          keys:
            - v5-dependencies-{{ checksum "yarn.lock" }}
            # fallback to using the latest cache if no exact match is found
            - v5-dependencies-
  
  update_test_cache_file:
    description: Concatenate all spec files into one file to be able to get their checksum
    steps:
      - run:
          name: Find and concat spec files
          command: find -wholename "./**/*.spec.ts" -exec cat "{}" + > /tmp/all-tests.spec.txt

jobs:
  build_dependencies:
    working_directory: *working_directory
    executor: default

    steps:
      - checkout_and_restore_dependencies

      - run: yarn install --ignore-engines --frozen-lockfile

      - save_cache:
          paths:
            - node_modules
            - packages/website/node_modules
            - packages/api/node_modules
            - /usr/local/share/.cache/yarn/v4/
          key: v4-dependencies-{{ checksum "yarn.lock" }}

  test_and_lint:
    working_directory: *working_directory
    executor: default

    steps:
      - checkout_and_restore_dependencies
      - install_psql
      - update_test_cache_file

      # Ensure that all migrations succeed
      - run: cd packages/api && yarn migration:run

      # Restore api jest cache
      - restore_cache:
          keys:
            - v1-test-{{ checksum "/tmp/all-tests.spec.txt" }}
            # fallback to using the latest cache if no exact match is found
            - v1-test-

      # Run tests
      # This could also be run using lerna: `yarn test` in the main repo, but doing it
      # explicitly like this separates out the tasks nicely in the UI.
      - run: cd packages/api && yarn test
      - run: cd packages/website && yarn test

      # Save test cache
      - save_cache:
          paths:
            - packages/api/.jest-cache
          key: v1-test-{{ checksum "/tmp/all-tests.spec.txt" }}

      # Run lint
      - run: yarn lint:all

  build_app:
    working_directory: *working_directory
    executor: default

    steps:
      - checkout_and_restore_dependencies

      # Ensure that a normal build succeeds
      - run: yarn build
      - run: cd packages/api && yarn build:cloud-functions

workflows:
  version: 2.1
  build:
    jobs:
      - build_dependencies
      - test_and_lint:
          requires:
            - build_dependencies

      - build_app:
          requires:
            - build_dependencies
