body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.leaflet-control-layers label {
  cursor: pointer;
} 

.leaflet-control-layers:not(:hover) {
  height: var(--map-icons-size) !important;
  width: var(--map-icons-size) !important;
}

.leaflet-control-layers-toggle {
  height: 1.8rem !important;
  width: 1.8rem !important;
}

.leaflet-control-zoom {
  width: var(--map-icons-size) !important;
}

.leaflet-control-zoom-out {
  width: 100% !important;
  height: unset !important;
  aspect-ratio : 1 / 1 !important;
  text-decoration: none !important;
}

.leaflet-control-zoom-in {
  width: 100% !important;
  height: unset !important;
  aspect-ratio : 1 / 1 !important;
  text-decoration: none !important;
}
