body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.leaflet-control-layers:not(:hover) {
  height: 2.5rem !important;
  width: 2.5rem !important;
}

.leaflet-control-layers-toggle {
  height: 2.4rem !important;
  width: 2.4rem !important;
}

.leaflet-control-zoom {
  border: unset !important;
}

.leaflet-control-zoom-out {
  height: 2.5rem !important;
  width: 2.5rem !important;
}

.leaflet-control-zoom-in {
  height: 2.5rem !important;
  width: 2.5rem !important;
}